html {
    font-size: 10px;
    font-family: sans-serif;
}
.gaia-list li img[alt="placeholder"] {
    background: #ccc url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNS4wLjIsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhcGFfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSI1MHB4IiBoZWlnaHQ9IjUwcHgiIHZpZXdCb3g9IjAgMCA1MCA1MCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNTAgNTAiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGxpbmUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwMDAwIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHgxPSIwIiB5MT0iMCIgeDI9IjUwIiB5Mj0iNTAiLz4NCjxsaW5lIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzAwMDAwMCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiB4MT0iNTAiIHkxPSIwIiB4Mj0iMC4wODIiIHkyPSI0OS45MTkiLz4NCjwvc3ZnPg0K);
    background-size: 100% 100%;
    font-size: 0;
}


body {
    overflow: scroll;
}

.bb-tabpanel {
    padding: 2rem;
    font-size: 2rem;
}

#out {
    padding-left: 15%;
    word-break: break-all;
    font-size : 14px;
    color: grey;
    text-align: right;
    float:right;
    clear:both;

}

#in {
    padding-right:15%;
    word-break: break-all;
    font-size : 14px;
    float:left;
    clear:both;

}
#newmessages {
    word-break: break-all;
    font-size: 14px;
}

h2.bb-docs {
    font-size: 1.8rem;
    font-weight: lighter;
    color: #666;
    margin: -1px 0 0;
    background-color: #f5f5f5;
    padding: 0.4rem 0.4rem 0.4rem 3rem;
    border: solid 1px #e8e8e8;
}
h2.bb-docs2 {
    font-size: 1.8rem;
    font-weight: lighter;
    color: #666;
    margin: -1px 0 0;
    background-color: #FFFFFF;
    padding: 0.4rem 0.4rem 0.4rem 3rem;
    border: solid 1px #e8e8e8;
}
.empty {
    padding-top: 35px;
}
section[role="region"] > header:first-child {
    background-color: #00caf2;
}
.backtomain {
    text-decoration: none;
}

.buttonom {
    font-family: sans-serif;
    font-style: italic;
    width: 100%;
    height: 4rem;
    margin: 0 0 1rem;
    padding: 0 1.2rem;
    -moz-box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border: none;
    border-radius: 2rem;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 4rem;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: #00caf2;
    color: #fff;
}
.sendbuttonom{
    background-color: #00caf2;
    color: #fff;
}
.deletebuttonom{
    background-color: #e51e1e;
    color: #fff;
}
#exit{
    font-size: 2.6rem;
    font-style: normal;
    float:right;
    font-weight:600;
    color: #fff;
}